
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Dennis Ivanov</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/tom.jpg' %}" >
					<hr>
					<h4>Tom's Portfolio</h4>
					<p>I love working with big data, coding, and building cool things!</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Into the Deep...</h4>
					<hr>
					<p>I've taken an ineresting but not unheard of path towards becoming a developer. My degrees are in electrical engineering. I worked in consulting running studies on US energy markets for GE. From there I learned python to automate the things in Excell I hated doing.</p>

					<p>From there I transitioned into the world of data science and engineering and have worked my way to becoming the ETL and Integrations Team Lead at Acuitas Health. There I learned SQL and R and worked within a fast-paced Agile environment/p>

					<p>Now I'm looking for a new challenge! I want to get into pure software development. Although the opportunity to be in a management role I've learned a lot, I want to get back into doing more technical work on a daily basis.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience</h5>
					<hr>
					<p>Integrations Team Lead at Acuitas Health.</p>
					<p>•	Oversee all ETL into and within SQL-Server based Acuitas Enterprise Data Warehouse (EDW)
						•	Lead development of architecture and implementation of pre-visit planning reporting for client medical practice network
						•	Write SQL code and Python scripts for back-end systems to ensure proper operation of source loads
						•	Supervise and mentor team of 4 engineers and analysts varying from ETL efforts to ad-hoc reporting
						•	Write and implement processes to manage deployment of databases, apps, and report scripts to production
						•	Manage efforts to connect 180+ medical practices using 17 different Electronic Healthcare Record (EHR) vendors to Acuitas EDW
						•	Lead training to transition to new technologies; facilitate community outreach efforts, plan webinars and technical discussions 
						
						</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/NodeJS, Bootsrap, Postgres, SQL Server AWS, Azure, GCS, and APIs such as google maps, JavaScript charts among other tools and technologies!</p>
					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Find a tool or technology I'm interested in learning more about and a use case I would enjoy applying it to. Or vice versa</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>After almost two years in my current role I am ready for a new challenge. I am working on getting an AWS Solutions Architecte Certification and learning NodeJS in my spare time</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>